.HowItWorks-title {
  position: absolute;
  padding: 180px 100px;
  margin-left: 600px;
  background: none;
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 60px;
  font-family: 'Saira Stencil One', cursive;
  line-height: 80px;
}

.HowItWorks-text  {
  position: absolute;
  bottom: 50px;
  width: 60%;
  padding: 0px 100px;
  margin-left: 600px;
  display: inline-block;
  color: white;
  font-size: 30px;
  font-family: 'Saira Stencil One', cursive;
  line-height: 25px;
}

.background-image-HowItWorks {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) ), url('../assets/images/HowItWorks.jpg');
  background-size: cover;
  height:95vh;
}