.nav {
  font-family: 'Rokkitt', serif;
  font-size: 1.7rem!important;
  margin-right: 1vw;
  background-color: none;
}

.button-current {
  background-color: #005637;
  bottom: 10px;
  right: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid white;
  padding: 0.5vh 1vw;
  outline: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 25px;
}

.button-current:hover {
  background-color: #033f29;
}

.user a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: red!important;
}