

.background-list {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
  url("../assets/images/plans-list.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 125vh;
  width: 100vw;
}

.container-user{
  font-family: 'Rokkitt', serif;
  /* text-align: center; */
  color: white;
  position: relative;
  width: 100%;
}

.container-user a {
  color: white;
}

.container-user a:hover {
  color: white;
}

.container-user .button {
  background: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid white;
  padding: 10px 4vw;
  outline: none;
  color: white;
  background-color: #EC675D;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 30px;
}

.container-user .button:hover {
  background: #d35256;
}

.container-plans {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
  font-size: 25px;
  padding-top: 2vh;
}

.container-plans button {
  background-color: #FE9F27;
  padding: 15px 50px;
  color: white;
  border: 1px solid;
  border-radius: 15px;
  margin: 10px;
  font-size: 25px;
  font-family: 'Rokkitt', serif;
}

.container-plans button:hover {
  background-color: #f2bf35;
}

.container-plans h4 {
  text-align: center;
}

.button-back {
  background: none;
  display: block;
  margin: auto;
  text-align: center;
  border: 1px solid white;
  padding: 6px 3vw;
  outline: none;
  color: white;
  background-color: #EC675D;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 30px;
  position: absolute;
  bottom: 1vh;
  left: 3%; 

  position: fixed;
  top: 82vh;
  bottom: 3vh;
}

.button-back:hover {
  background: #d35256;
}