.container p {
  color: white;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-shadow: 2px 2px 5px black;
}

.details {
  max-width: 100vw;
  max-height: 100vh;
  justify-content: space-between;
  position: relative;
  left:15%
}

.exercise {
  padding: 1px;
  text-shadow: 2px 2px 5px black;
}

.exercise h6 {
  margin-bottom: 2px;
  text-shadow: 2px 2px 5px black;
}

.day {
  margin-bottom: 2px;
  text-shadow: 2px 2px 5px black;
}

.button-pick {
  text-shadow: 2px 2px 5px black;
  background: none;
  display: block;
  margin: -15px auto;
  text-align: center;
  border: 1px solid white;
  padding: 6px 3vw;
  outline: none;
  color: white;
  background-color: #EC675D;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 30px;
  position: absolute;
  bottom:0.5vh;
  left:40%;

  position: fixed;
  top: 90vh;
  bottom: 5vh;
}

.button-pick:hover {
  background: #d35256;
}

.container {
  text-shadow: 2px 2px 5px black;
  position: absolute;
  align-content: center;
}


.flex-container{
  height: 100%;
  text-shadow: 2px 2px 5px black;
}

.button-back {
  text-shadow: 2px 2px 5px black;
  background: none;
  display: block;
  margin: auto;
  text-align: center;
  border: 1px solid white;
  padding: 0.5vh 2vw;
  outline: none;
  color: white;
  /* background-color: #EC675D; */
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 30px;
  position: absolute;
  bottom: 1vh;
  left: 3%;

  position: fixed;
  top: 82vh;
  bottom: 3vh;
}